.libro .libro-caratula img{
    object-fit: cover;
    height: 110px;
    max-width: 100px;
    }
    
    .libro .libro-precio{
        grid-area: precio;
        text-align: right;    
    }
    
    .libro .libro-boton{
        grid-area: boton;
    }
    
    .libro .libro-descripcion{
        grid-area: descripcon;
        text-align: justify;    
    }